<h1>Activity 2 - UK ROAD ACCIDENT DATA ANALYTICS PROJECT</h1>
<hr>
<h3>Analyst : Andrei Miguel P. Moralina</h3>

In [1]:
#import libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

<h3>Converting Dataset(s) into DataFrame</h3>
<h2>Requirements</h2>
<ul>
    <li>Name of the DataFrame</li>
    <li>File Path</li>
</ul>

In [2]:
accident = pd.read_csv('datasets\\uk_road_accident.csv')

In [3]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], errors='coerce')

In [4]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,2019-05-06,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2019-02-07,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,NaT,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,NaT,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,2019-03-09,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,NaT,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,NaT,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,NaT,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,NaT,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,NaT,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<h2>Descriptive Analytics</h2>

In [5]:
accident.describe()

,Accident Date,Latitude,Longitude,Number_of_Casualties,Number_of_Vehicles
count,265007,660654.000000,660653.000000,660679.000000,660679.000000
mean,2020-11-18 04:53:34.375468544,52.553866,-1.431210,1.357040,1.831255
min,2019-01-01 00:00:00,49.914430,-7.516225,1.000000,1.000000
25%,2019-12-02 00:00:00,51.490690,-2.332291,1.000000,1.000000
50%,2020-11-05 00:00:00,52.315641,-1.411667,1.000000,2.000000
75%,2021-11-05 00:00:00,53.453452,-0.232869,1.000000,2.000000
max,2022-12-12 00:00:00,60.757544,1.762010,68.000000,32.000000
std,NaN,1.406922,1.383330,0.824847,0.715269

In [6]:
accident.describe().T

,count,mean,min,25%,50%,75%,max,std
Accident Date,265007,2020-11-18 04:53:34.375468544,2019-01-01 00:00:00,2019-12-02 00:00:00,2020-11-05 00:00:00,2021-11-05 00:00:00,2022-12-12 00:00:00,NaN
Latitude,660654.0,52.553866,49.91443,51.49069,52.315641,53.453452,60.757544,1.406922
Longitude,660653.0,-1.43121,-7.516225,-2.332291,-1.411667,-0.232869,1.76201,1.38333
Number_of_Casualties,660679.0,1.35704,1.0,1.0,1.0,1.0,68.0,0.824847
Number_of_Vehicles,660679.0,1.831255,1.0,1.0,2.0,2.0,32.0,0.715269

<h2>Checking Null Values</h2>

In [7]:
accident.isnull()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,True,False
3,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,False,False,True,False,False,False,False,False,False,False,False,False,False,False
660675,False,False,True,False,False,False,False,False,False,False,False,False,False,False
660676,False,False,True,False,False,False,False,False,False,False,False,False,False,False
660677,False,False,True,False,False,False,False,False,False,False,False,False,False,False
660678,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [8]:
accident.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                       25
Light_Conditions                0
District Area                   0
Longitude                      26
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions       726
Road_Type                    4520
Urban_or_Rural_Area            15
Weather_Conditions          14128
Vehicle_Type                    0
dtype: int64

<h2>Filtering a column</h2>

In [9]:
accident['Index'].value_counts()

Index
2.01E+12         239478
2.01E+86              4
2.01E+197             4
2.01E+98              4
2.01E+175             4
                  ...
201091NM01760         1
201091NM01881         1
201091NM01935         1
201091NM01964         1
201091NM02142         1
Name: count, Length: 421020, dtype: int64

In [10]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

In [11]:
accident['Accident Date'].value_counts()

Accident Date
2021-11-02    685
2021-06-10    680
2019-06-12    678
2019-01-02    676
2021-04-12    667
             ...
2022-09-01    236
2022-02-12    236
2022-05-04    231
2022-07-02    213
2022-10-01    123
Name: count, Length: 576, dtype: int64

In [12]:
accident['Latitude'].value_counts()

Latitude
52.458798    50
52.949719    45
53.083165    33
52.967634    31
52.938860    29
             ..
56.880265     1
56.865367     1
57.528413     1
57.194499     1
51.493490     1
Name: count, Length: 511618, dtype: int64

In [13]:
accident['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

In [14]:
accident['District Area'].value_counts()

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: count, Length: 422, dtype: int64

In [15]:
accident['Longitude'].value_counts()

Longitude
-0.977611    45
-1.871043    36
-0.816789    33
-1.190861    31
-1.216694    29
             ..
-4.169644     1
-3.798648     1
-3.630574     1
-3.836563     1
-3.924477     1
Name: count, Length: 529766, dtype: int64

In [16]:
accident['Number_of_Casualties'].value_counts()

Number_of_Casualties
1     504041
2     107971
3      30776
4      11156
5       4123
6       1525
7        539
8        214
9        112
10        58
11        36
13        24
12        21
14        13
15        11
17         8
19         7
16         7
18         6
22         5
21         4
29         3
40         2
28         2
24         2
27         2
42         2
25         1
32         1
68         1
45         1
62         1
47         1
48         1
26         1
43         1
Name: count, dtype: int64

In [17]:
accident['Number_of_Vehicles'].value_counts()

Number_of_Vehicles
2     391995
1     200787
3      52806
4      11300
5       2464
6        758
7        296
8        147
9         57
10        27
11        12
14         9
12         7
13         6
16         4
28         1
15         1
32         1
19         1
Name: count, dtype: int64

In [18]:
accident['Road_Surface_Conditions'].value_counts()

Road_Surface_Conditions
Dry                     447821
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

In [19]:
accident['Road_Type'].value_counts()

Road_Type
Single carriageway    492143
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

In [20]:
accident['Urban_or_Rural_Area'].value_counts()

Urban_or_Rural_Area
Urban          421663
Rural          238990
Unallocated        11
Name: count, dtype: int64

In [21]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       520885
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

In [22]:
accident['Vehicle_Type'].value_counts()

Vehicle_Type
Car                                      497992
Van / Goods 3.5 tonnes mgw or under       34160
Bus or coach (17 or more pass seats)      25878
Motorcycle over 500cc                     25657
Goods 7.5 tonnes mgw and over             17307
Motorcycle 125cc and under                15269
Taxi/Private hire car                     13294
Motorcycle over 125cc and up to 500cc      7656
Motorcycle 50cc and under                  7603
Goods over 3.5t. and under 7.5t            6096
Other vehicle                              5637
Minibus (8 - 16 passenger seats)           1976
Agricultural vehicle                       1947
Pedal cycle                                 197
Data missing or out of range                  6
Ridden horse                                  4
Name: count, dtype: int64

<h2>FILLING UP NULL VALUES</h2>

In [23]:
accident.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                       25
Light_Conditions                0
District Area                   0
Longitude                      26
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions       726
Road_Type                    4520
Urban_or_Rural_Area            15
Weather_Conditions          14128
Vehicle_Type                    0
dtype: int64

In [24]:
accident['Latitude'].mean()

np.float64(52.553865761110956)

In [25]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mean())
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mean())
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])

In [26]:
accident.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                        0
Light_Conditions                0
District Area                   0
Longitude                       0
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions         0
Road_Type                       0
Urban_or_Rural_Area             0
Weather_Conditions              0
Vehicle_Type                    0
dtype: int64

<h2>Changing the Data type</h2>

In [27]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            265007 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 70.6+ MB

In [28]:
accident['Index'] = accident['Index'].astype('category')
accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')
accident['Accident Date'] = accident['Accident Date'].astype('category')
accident['Light_Conditions'] = accident['Light_Conditions'].astype('category')
accident['District Area'] = accident['District Area'].astype('category')
accident['Number_of_Casualties'] = accident['Number_of_Casualties'].astype('category')
accident['Number_of_Vehicles'] = accident['Number_of_Vehicles'].astype('category')
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category')
accident['Road_Type'] = accident['Road_Type'].astype('category')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category')
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category')
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category')

In [29]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            265007 non-null  category
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  category
 8   Number_of_Vehicles       660679 non-null  category
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(12), float64(2)
memory usage: 40.2 MB

<h2>Exploratory Data Analytics</h2>
<hr>

<h3>Question 1</h3>
<h4>1. How many accidents happened at night vs daytime?</p>

In [30]:
light_conditions_df = accident['Light_Conditions'].value_counts()
light_conditions_df

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

<h4>Insight No.1</h4>
<p>In this code shows how many accident happened at night and daytime</p>

<h3>Question 2</h3>
<h4>2. How many accidents happened in fine weather vs bad weather?</p>

In [31]:
weather_conditions_df = accident['Weather_Conditions'].value_counts()
weather_conditions_df

Weather_Conditions
Fine no high winds       535013
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h4>Insight No.2</h4>
<p>In this code shows how many accidents happened in fine weather and bad weather</p>

<h3>Question 3</h3>
<h4>3. How many accidents occurred in urban vs rural areas?</p>

In [32]:
urban_or_rural_df = accident['Urban_or_Rural_Area'].value_counts()
urban_or_rural_df

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h4>Insight No.3</h4>
<p>This shows how many accident in rural and urban areas</p>

<h3>Question 4</h3>
<h4>4. Which road type has the most accidents?</p>

In [33]:
accident['Road_Type'].value_counts()

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h4>Insight No.4</h4>
<p>The road type that has the most accidents is Single carriageway</p>

<h3>Question 5</h3>
<h4>5. How many accidents happened in each district area?</p>

In [34]:
accident['District Area'].value_counts().head(10)

District Area
Birmingham          13491
Leeds                8898
Manchester           6720
Bradford             6212
Sheffield            5710
Westminster          5706
Liverpool            5587
Glasgow City         4942
Bristol, City of     4819
Kirklees             4690
Name: count, dtype: int64

<h4>Insight No.5</h4>
<p>This shows the accidents happened in each district area</p>

<h3>Question 6</h3>
<h4>6. What is the total number of casualties?</p>

In [35]:
accident['Number_of_Casualties'] = pd.to_numeric(accident['Number_of_Casualties'], errors='coerce')
accident['Number_of_Casualties'].sum()

np.int64(896568)

<h4>Insight No.6</h4>
<p>Total lives affected in the dataset</p>

<h3>Question 7</h3>
<h4>7. What is the average number of casualties per accident?</p>

In [36]:
accident['Number_of_Casualties'].mean()

np.float64(1.357040257068864)

<h4>Insight No.7</h4>
<p>Shows how severe accidents are on average</p>

<h3>Question 8</h3>
<h4>8. How many accidents involved only 1 vehicle vs multiple vehicles?</p>

In [37]:
accident['Number_of_Vehicles'].value_counts()

Number_of_Vehicles
2     391995
1     200787
3      52806
4      11300
5       2464
6        758
7        296
8        147
9         57
10        27
11        12
14         9
12         7
13         6
16         4
15         1
19         1
28         1
32         1
Name: count, dtype: int64

<h4>Insight No.8</h4>
<p>Distinguishes between single-vehicle crashes (often driver error) vs multi-vehicle collisions</p>

<h3>Question 9</h3>
<h4>9. What is the distribution of accident severity?</p>

In [38]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h4>Insight No.9</h4>
<p>Most accidents are usually slight, fewer are serious or fatal</p>

<h3>Question 10</h3>
<h4>10. Which road surface conditions are most common in accidents?</p>

In [39]:
accident['Road_Surface_Conditions'].value_counts()

Road_Surface_Conditions
Dry                     448547
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

<h4>Insight No.10</h4>
<p>Shows whether dry, wet, or icy surfaces are linked to accidents. Dry is the most common accidents</p>

<h3>Question 11</h3>
<h4>11. Which year recorded the most accidents?</p>

In [40]:
accident['Accident Date'].dt.year.value_counts().idxmax()

np.float64(2019.0)

<h4>Insight No.11</h4>
<p>In 2019 recorded the most accidents in this datasets.</p>

<h3>Question 12</h3>
<h4>12. Which day of the week has the highest number of accidents?</p>

In [41]:
accident['Accident Date'].dt.day_name().value_counts().head(1)

Accident Date
Tuesday    39701
Name: count, dtype: int64

<h4>Insight No.12</h4>
<p>The day of the week that has the highest number of accidents is Tuesday</p>

<h3>Question 13</h3>
<h4>13. Which vehicle type is most often involved in fatal accidents?</p>

In [42]:
accident[accident['Accident_Severity']=='Fatal']['Vehicle_Type'].value_counts().head(1)

Vehicle_Type
Car    6577
Name: count, dtype: int64

<h4>Insight No.13</h4>
<p>The vehicle type that most often involved in fatal accidents is Car</p>

<h3>Question 14</h3>
<h4>14. Which district area has the highest average casualties per accident?</p>

In [43]:
accident.groupby('District Area')['Number_of_Casualties'].mean().sort_values(ascending=False).head(1)

District Area
Blaeu Gwent    1.693694
Name: Number_of_Casualties, dtype: float64

<h4>Insight No.14</h4>
<p>The district area that has the highest average casualties per accident is Blaeu Gwent</p>

<h3>Question 15</h3>
<h4>15. Which road surface condition has the highest percentage of fatal accidents?</p>

In [44]:
fatal_ratio = (
    accident[accident['Accident_Severity']=='Fatal']
    .groupby('Road_Surface_Conditions').size() 
    / accident.groupby('Road_Surface_Conditions').size()
) * 100
fatal_ratio.sort_values(ascending=False).head(1)

Road_Surface_Conditions
Flood over 3cm. deep    2.261554
dtype: float64

<h4>Insight No.15</h4>
<p>The road surface condition that has the highest percentage of fatal accidents is Flood over 3cm. deep 2.2</p>

<h3>Question 16</h3>
<h4>16. Accidents per year</p>

In [45]:
accident.groupby(accident['Accident Date'].dt.year).size()

Accident Date
2019.0    71867
2020.0    70163
2021.0    66172
2022.0    56805
dtype: int64

<h4>Insight No.16</h4>
<p>This show the accidents per year</p>

<h3>Question 17</h3>
<h4>17. Fatal accidents per year</p>

In [46]:
accident[accident['Accident_Severity']=='Fatal'].groupby(accident['Accident Date'].dt.year).size()

Accident Date
2019.0    1116
2020.0     942
2021.0     823
2022.0     623
dtype: int64

<h4>Insight No.17</h4>
<p>This shows the Fatal accidents per year in 2019-2022</p>

<h3>Question 18</h3>
<h4>18. Average casualties per accident by road type</p>

In [47]:
accident.groupby('Road_Type')['Number_of_Casualties'].mean()

Road_Type
Dual carriageway      1.477279
One way street        1.192713
Roundabout            1.274891
Single carriageway    1.343788
Slip road             1.423661
Name: Number_of_Casualties, dtype: float64

<h4>Insight No.18</h4>
<p>This is the average casualties per accident by road type</p>

<h3>Question 19</h3>
<h4>19. Severity distribution by district area</p>

In [48]:
accident.groupby('District Area')['Accident_Severity'].value_counts().unstack().fillna(0).head(10)

Accident_Severity  Fatal  Serious  Slight
District Area
Aberdeen City         12      239    1072
Aberdeenshire         66      463    1401
Adur                   8      101     510
Allerdale             24      143     961
Alnwick                6       33     193
Amber Valley          19      173    1155
Angus                 32      163     601
Argyll and Bute       27      184     625
Arun                  15      253    1108
Ashfield              11      201    1183

<h4>Insight No.19</h4>
<p>This is the Severity distribution by district area</p>

<h3>Question 20</h3>
<h4>20. Weather conditions vs severity</p>

In [49]:
accident.groupby('Weather_Conditions')['Accident_Severity'].value_counts().unstack().fillna(0).head(10)

Accident_Severity      Fatal  Serious  Slight
Weather_Conditions
Fine + high winds        175     1245    7134
Fine no high winds      7207    73285  454521
Fog or mist               82      483    2963
Other                    165     1801   15184
Raining + high winds     145     1261    8209
Raining no high winds    848     9468   69380
Snowing + high winds       3      109     773
Snowing no high winds     36      565    5637

<h4>Insight No.20</h4>
<p>Compares how different weather affects severity levels</p>